:host {
  display: block;
  width: 100%;
  padding: 1rem;
  all: unset;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

label {
  align-items: left;
}

vaadin-combo-box {
  --vaadin-overlay-z-index: 10000;
  position: relative;
  z-index: 10;

}

vaadin-combo-box-overlay#overlay {
  z-index: 10000;
}
